{% from "nav.jinja2" import navigation_items %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Weekend</title>
        <link rel="stylesheet" href="/static/css/styles.css"/>
    </head>

    <body>
        <header class="navbar">
            <div class="brand">
                <img src="/static/logo.svg" alt="The Weekend Logo" class="logo">
                <img src="/static/WeekEnd-Text.png" alt="The Weekend Logo Text" class="logo_text">
            </div>
            <ul class="navbar__navigation">
                <li class="navbar__navigation-item"> 
                    <a href="{{ url_for('create_recommendation') }}" class="navbar__link">Recommend</a>
                </li>
                <li class="navbar__navigation-item">
                    <a href="{{ url_for('create_interest') }}" class="navbar__link">Interests</a>
                </li>
                <li class="navbar__navigation-item">
                    <a href="{{ url_for('info') }}" class="navbar__link">About</a>
                </li>
                <li class="navbar__navigation-item">
                    <a href="{{ url_for('profile') }}" class="navbar__link">Profile</a>
                </li>
                <li class="navbar__navigation-item">
                    <a href="{{ url_for('login') }}" class="navbar__link">Login</a>
                </li>
                <li class="navbar__navigation-item">
                    <a href="{{ url_for('sign_up') }}" class="navbar__link">Register</a>
                </li>
                <li class="navbar__navigation-item">
                    <a href="{{ url_for('logout') }}" class="navbar__link">Logout</a>
                </li>
            </ul>
        </header>

        <main class="main">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}

            {% block content %}
            {% endblock %}
        </main>

        <footer class="footer">
            <div class="footer__content">
                <div class="footer__content__section">
                    <a href="#" class="footer__link">About</a>
                    <a href="#" class="footer__link">Data</a>
                </div>
                <div class="footer__content__section">
                    <a href="#" class="footer__link">Contact</a>
                    <a href="#" class="footer__link">Career</a>
                </div>
            </div>
        </footer>
    </body>
</html>
