{% extends 'base.html' %}

{% block content %}
    <section>
        <h1> Add new interest </h1>
        <form action="/create" method="POST" class="form">
            <label for="interest_input" class="form__label">Describe interest:</label>
            <textarea name="interest_input" id="interest_input" class="form__textarea"></textarea>
            <button type="submit" class="form__button">Add Interest</button> 
        </form>
    </section>

    <section class="interest_list">
        <h1> All Interests </h1>
        {% for interest in interest_list: %} 
        <article class="interest_entry">
            {{interest["text"]}}
        </article>
        {% endfor %} 
    </section>
{% endblock %}
