{% macro navigation_items() %}
<li class="navbar__navigation-item"> 
    <a href="/" class="navbar__link">Recommend</a>
</li>
<li class="navbar__navigation-item">
    <a href="/create" class="navbar__link">Add Data</a>
</li>
<li class="navbar__navigation-item">
    <a href="/about" class="navbar__link">About</a>
</li>
{% endmacro %}
